{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>  
    <section>
        <form action="{% url 'add-book' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Напишите, чтобы добавить заголовок книги"
                name="title">
            </div>   
        
            <div class="mb-3">
                <label class="form-label">Подзаголовок</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Напишите, чтобы добавить подзаголовок книги"
                name="subtitle">
            </div>
        
            <div class="mb-3">
                <label class="form-label">Описание</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Напишите, чтобы добавить описание книги"
                name="description">
            </div>
        
            <div class="mb-3">
                <label class="form-label">Автор</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Напишите, чтобы добавить автора книги"
                name="author">
            </div>
        
            <div class="mb-3">
                <label class="form-label">Жанр</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Напишите, чтобы добавить жанр книги"
                name="genre">
            </div>
        
            <div class="mb-3">
                <label class="form-label">Год выхода</label>
                <input type="datetime-local" class="form-control" id="formGroupExampleInput" placeholder="Напишите, чтобы добавить год выхода книги"
                name="year">
            </div>
        
            <div class="mb-3">
                <label class="form-label">Цена</label>
                <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Напишите, чтобы добавить цену книги"
                name="price">
            </div>
            <button class="btn btn-primary" type="submit">Добавить</button> 
        </form>
        
    {% for book in book_list %}
        <h4>{{ book.title }}</h4>
        <h3>{{ book.price }} </h3>     
        <p>{{ book.subtitle }}</p> 
    {% endfor %}

        <div class="action_buttons">
            {% if book.is_favorite %}

                <a href="{% url 'unmark-book' book.id %}"><img src="{% static './icons/marked.jpg' %}"/></a>

            {% else %}
                <a href="{% url 'mark-book' book.id %}"><img src="{% static './icons/unmarked.png' %}"/></a>
                        
            {% endif %}
                        
            <a href=" {% url 'delete-book' book.id  %} "><img src="{% static './icons/images.png'%}"/></a>
        </div>
    </section>     
</body> 
</html>    